<style>
  /* footer */


  .footer {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .footer * {
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .footer .buttons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #abb7b7;
  }

  .footer .buttons a:hover {
    background-color: #ee983d
  }

  .footer .buttons i {
    margin-top: 15px;
    vertical-align: middle;
    color: white;
    font-size: 20px;
  }

  .footer .copyright {
    color: #abb7b7;
    font-size: 13px;
    font-weight: 400;
  }
</style>

<div class="footer">
  <div class="buttons">
    <a href="#"><i class="fa fa-fw fa-twitter"></i></a>
    <a href=""><i class="fa fa-fw fa-facebook"></i></a>
    <a href="#"><i class="fa fa-fw fa-stack-overflow"></i></a>
    <a href=""><i class="fa fa-fw fa-bitbucket"></i></a>
    <a href="https://github.com/chet-hub"><i class="fa fa-fw fa-github"></i></a>
  </div>
  <p class='copyright'>
    © 2020 Chet
  </p>
</div>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-235DCVGC0V"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-235DCVGC0V');
</script>