---
interception:  ['map']
---
<style>
    /* header */

    .header, .menu {
        text-align: center;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .header * {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .header img {
        width: 150px;
        border-radius: 50%;
        /* filter: opacity(50%); */
    }

    .header .name {
        font-size: 30px;
        font-weight: 600;
    }

    .header .description {
        font-size: 18px;
        font-weight: 400;
        color: #abb7b7;
        margin-top: 0;
        margin-bottom: 0;
    }

    /* memu */
    .underline {
        border-bottom: 2px solid #ee983d;
    }

    .menu {
        margin-bottom: 50px;
        border-bottom: 1px solid #F2F4F5;
    }

    .menu a:link,
    a:active,
    a:visited {
        text-decoration: none;
    }

    .menu a:hover {
        color: #ee983d;
    }

    .menu a {
        color: black;
        font-size: 18px;
        font-weight: 600;
        margin-left: 8px;
        margin-right: 8px;
    }

    .stickyTop {
        z-index: 100;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: white;
    }

</style>

<div class="header">
    <img src="assert/header.jpg">
    <p class="name">Chet</p>
    <p class="description">Log somethig in my mind.</p>
</div>
<div class="menu stickyTop">
    <a href="index.html">Home</a>
    <a href="posts.html">Posts</a>
    <a href="post.html#post/about_me.md">About</a>
    <a href="contact.html">Contact</a>
</div>

<script>
    function underline() {
        Array.from(document.querySelectorAll(".menu a")).forEach(function (a) {
            if (document.URL === a.href) {
                a.classList.add("underline")
            } else {
                a.classList.remove("underline")
            }
        })
    }

    underline();
</script>