<style>
    /* post */
    .post {
        margin-bottom: 80px;
        border-bottom: 1px solid #F2F4F5;
        padding-bottom: 30px;
    }

    .post img{
        display: block;
        width: 100%;
        filter: grayscale(100%);
    }

    .post .title {
        text-align: center;
        font-size: 40px;
        font-weight: 600;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .post .title a:hover {
        color: #ee983d;
    }

    .post .description {
        text-align: center;
        font-size: 19px;
        font-weight: 400;
        color:#abb7b7;
        margin-bottom: 30px;
    }

    .post .summary{
        font-size: 19px;
        color:#abb7b7;
        line-height: 1.6;
    }

    .post .button{
        display: inline-block;
        padding: 9px 10px 10px;
        border-radius: 3px;
        background: #ee983d;
        color: #fff;
        font-weight: 600;
        cursor: pointer;
    }

    .post a:link, a:active, a:visited {
        text-decoration: none;
    }

    .post a:hover{
        background-color: rgb(238, 186, 130)
    }

    /* markdown  */
    /* .md {

    } */

    .md img{
        width:100%
    }

    /* disqus_thread */

    .comment {
        margin-top:60px;
        margin-bottom:60px;
    }


</style>
