<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/4.0.1/mustache.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/12.0.2/markdown-it.min.js"></script> -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://necolas.github.io/normalize.css/8.0.1/normalize.css">
<link rel="stylesheet" href="assert/font-awesome/css/font-awesome.min.css">
<style>
  body {
    font-family: Nunito, sans-serif
  }

  p::-moz-selection {
    color: white;
    background-color: #ee983d;
  }

  p::selection {
    color: white;
    background-color: #ee983d;
  }

  .widthController {
    margin: auto auto;
    width: 93%;
  }

  @media screen and (min-width: 780px) {
    .widthController {
      width: 80%;
    }
  }

  @media screen and (min-width: 1280px) {
    .widthController {
      max-width: 80%;
      width: 1280px;
    }
  }
</style>