<style>
  .portfolio {
    /* width: 80%; */
    /* margin: auto auto; */
    text-align: center;
    /* padding: 10px 10px; */
  }

  .portfolio .container {
    margin:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content:space-around;
    /* width: 100%; */
    /* border: 1px solid blue; */
    /* height: 900px; */
  }

  .portfolio .container .item {
    margin-top:10px;
    margin-bottom:10px;
    width: 49%;
    max-width: 500px;
    border: 1px solid #F2F4F5;
    background-color: #F2F4F5;
  }

  .portfolio img {
    width: 100%;
    /* max-width: 346.8px; */
    /* border: 1px solid red;  */
    /* #F2F4F5; */
    /* height: 90%; */
    /* margin: auto auto; */
  }

  .portfolio a:link,
  a:active,
  a:visited {
    text-decoration: none;
  }

  .portfolio a:hover {
    color: #ee983d;
  }

  .portfolio a{
    display: block;
    color:black
  }

</style>

<section class="portfolio">
  <h1>Portfolio</h1>
  <div class="container widthController">
    {{#data}}
    <div class="item">
      <a href="{{path}}">
        <img src="{{image}}">
        <p>{{title}}</p>
      </a>
    </div>
    {{/data}}
  </div>
</section>
